*{
	margin: 0;
	padding: 0;
}

#data, #myForm{
	padding: 10px;
	color: white;
}

#data{
	background-color: blue;
}

#myForm{
	background-color: black;
}

#data span{
	color: orange;
}

#data a{
	color: red;
}